@use "../utilities/breakpoints" as bp;

.l-card-details {
    display: flex;
    width: 90%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px;
    & > * {
        flex: 1;
    }
    @include bp.for-size(medium) {
        gap: 0;
        margin: 20px;
        flex-direction: column;
    }
}

.card-details__cards {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 2em;
    position: relative;
    max-width: 530px;

    & .card:first-child {
        z-index: 2;  
    }
    & .card-back {
        z-index: 1;   
    }
    .card {
        border: none;
        background: none;
        position: relative;
        z-index: 2;
    }
    .card-front, .card-back {
        border-radius: 10px;
        overflow: hidden;
    }
    .card-front {
        position: relative; 
        align-self: flex-start;
        & > p, & > .card-logo {
            position: absolute;
            z-index: 5;
        }
        & > p {
            color: var(--white);
        }
        .card-logo {
            top: 10%;
            left: 6%;
            width: 20%;
        }  
        .card-number {
            bottom: 30%;
            letter-spacing: 3px;
            left: 5%;
            font-size: 3.15rem;
            @include bp.for-size(medium) {
                font-size: 1.8rem;
            }
        }
        .card-name {
            font-size: 1.4rem;
            left: 5%;
            bottom: 11%;
        }
        .card-exp-date {
            right: 5%;
            bottom: 11%;
        }
        .card-name, .card-exp-date {
            @include bp.for-size(medium) {
                font-size: 1.2rem;
            }
            @include  bp.for-size(small) {
                font-size: 1rem;
            }
        }
    }

    .card-back {
        align-self: flex-end;
        position: relative;
        .cvc-value {
            position: absolute;
            z-index: 2;
            top: 46%;
            right: 12%;
            color: var(--white);
            font-size: 1.4rem;
            @include bp.for-size(medium) {
                top: 45%;
                font-size: 1.2rem;
            }
        }
    }

    @include bp.for-size(medium) {
        margin-bottom: 150px;
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
        & .card-front, & .card-back {
            max-width: 280px;
        }
        & .card-front {
            top: 125px;
        }
        & .card-back {
            bottom: 175px; 
            position: relative;
        }
    }
}

.card-details__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    height: 360px;
}