@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Space Grotesk', sans-serif;
}

.title {
    font-size: 3.5rem;
}

.text--light-grayish-violet {
    color: var(--light-grayish-violet);
}

.text--dark-grayish-violet {
    color: var(--dark-grayish-violet);
}

.text--very-dark-violet {
    color: var(--very-dark-violet);
}